.pertama{
  background-color :orange;
  border-style: solid;
  font-size: 20px;
}

.kedua{
  background-color: blue;
  color  :white;
  font-size: 20px;

}

.ketiga{
  font-size: 30px;
  font-family: monospace;
  border-style: ridge;
}

.keempat{
  border-style: ridge;
  font-weight: bolder;
  font-size: 30px;
  background-color: gray;
}
